.signUP {
width: 350px;
display: flex;
flex-direction: column;
}
.title {
margin: 20px 0;
}
.sign_Span {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans Condensed';
  letter-spacing: 0.1px;
}
.form{

}