.sign_In {
    width: 350px;
    display: flex;
    flex-direction: column;
}
.sign_Span {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans Condensed';
    letter-spacing: 0.1px;
}
.title {
    margin: 20px 0;
}
.buttons_Contianer {
    display: flex;
    justify-content: space-between;
}