.collection_item{
  position: relative;
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  &:hover {
    .image {
      opacity: 0.8;
    }

    .button {
      display: flex;
      opacity: 0.85;
    }
  }
}
.image {
  width: 100%;
  height: 95%;
  background-position: center;
  background-size: cover;
  margin-bottom: 5px;
}

.button {
  position: absolute;
  width: 80%;
  top:255px;
  opacity: 0.7;
  display: none;
}


.collection_footer {
    height: 5%;
 width: 100%;
 display: flex;
 justify-content: space-between;
 font-size: 18px;
 font-weight: 600;
}
.name {
   
    width: 90%;

}
.price {

   width: 10%;
}