.menu_item {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 30%;
    margin: 0 7.5px 15px;
    flex: auto;
    background-position: center;
    background-size: cover;

    &.large {
        height: 380px;
    }

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px;
    }

    .content {
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;

        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
        }

        .subtitle {
            font-size: 16px;
            font-weight: 400;
        }
    }

}