.checkout_item {
     display: flex;
     flex-direction: row;
     width: 100%;
    border-bottom: 1px solid darkgrey;
    align-items: center;
    min-height: 100px;
    padding: 15px 0;
    font-size: 20px;

    .image_Container{
        width: 23%;
         padding-right: 15px;
         img {
          width: 100%;
          height: 100%;
        }
    }

    .name {
        width: 23%;

    }
    .quantity{
        display: flex;
        width: 23%;
        padding-left: 3px;

        .arrow {
            cursor: pointer;
        }
        .quantity_value{
            margin: 0 10px;
        }

    }
    .price {
        width: 23%;
        padding-left: 6px;

    }
    .remove_btn{
        cursor: pointer;
        padding-left: 17px;

    }
}